/* transition tagı sayesinde o componenetlere erişilir ve lifecycle a göre animasyon eklenir. */
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition:  opacity 0.5s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    margin-bottom: 20px;
  }

  img {
    margin-right: 20px;
  }

  h2 {
    margin-top: 0;
  }